apiVersion: apps/v1
kind: Deployment
metadata:
  name: kustomize-jellyfin
  namespace: jellyfin
spec:
  template:
    spec:
      containers:
      - name: webdav
        volumeMounts:
        - name: cache
          mountPath: /cache
      volumes:
      - name: cache
        ephemeral:
          volumeClaimTemplate:
            spec:
              accessModes: [ "ReadWriteOnce" ]
              storageClassName: "rook-ceph-block"
              resources:
                requests:
                  storage: 20Gi
