apiVersion: apps/v1
kind: Deployment
metadata:
  name: kustomize-jellyfin
  namespace: jellyfin
spec:
  template:
    spec:
      containers:
      - name: webdav
        args:
        - serve
        - webdav
        - /data/jellyfin
        - --addr
        - :8080
        - --vfs-cache-mode
        - writes
        - --cache-dir
        - /cache
        volumeMounts:
        - name: cache
          mountPath: /cache
      volumes:
      - name: cache
        ephemeral:
          volumeClaimTemplate:
            spec:
              accessModes: [ "ReadWriteOnce" ]
              storageClassName: "rook-ceph-block"
              resources:
                requests:
                  storage: 20Gi
