image:
  tag: 10.11.6
ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-cloudflare"
  hosts:
    - host: jellyfin.ugard.win
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: tls-jellyfin-ingress-http
      hosts:
        - jellyfin.ugard.win
service:
  type: LoadBalancer
  port: 8096
  annotations:
    metallb.universe.tf/loadBalancerIPs: 192.168.10.251
volumes:
- name: rclone-config
  secret:
    secretName: rclone-rtorrent
    optional: false
- name: cache
  ephemeral:
    volumeClaimTemplate:
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: "rook-ceph-block"
        resources:
          requests:
            storage: 20Gi
jellyfin:
  env:
    - name: JELLYFIN_PublishedServerUrl
      value: jellyfin.ugard.win
persistence:
  media:
    # -- set to false to use emptyDir
    enabled: true
    accessMode: ReadWriteOnce
    size: 2500Gi
    # -- Custom annotations to be added to the PVC
    annotations: {}
    # -- If undefined (the default) or set to null, no storageClassName spec is set, choosing the default provisioner.
    storageClass: 'openebs-zfspv-affinity'
extraContainers:
  - name: webdav
    image: docker.io/rclone/rclone:latest
    command: [ "rclone" ]
    args:
    - serve
    - webdav
    - /data/jellyfin
    - --addr
    - :8080
    - --vfs-cache-mode
    - writes
    - --cache-dir
    - /cache
    volumeMounts:
    - name: media
      mountPath: /data/jellyfin
    - name: rclone-config
      mountPath: /config/rclone
      readOnly: true
    - name: cache
      mountPath: /cache
nodeSelector:
  kubernetes.io/hostname: talos-jly-e8b
