persistence:
  storageClassName: "rook-ceph-block"
config:
  existingSecret: firefly-iii-secret
image:
  tag: version-6.1.24
ingress:
  enabled: true
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-cloudflare"
  hosts:
  - firefly.ugard.win
  tls:
  - hosts:
    - firefly.ugard.win
    secretName: tls-firefly-ingress-http
