server:
  persistence:
    enabled: true
    storageClassName: rook-ceph-block
ingress:
  enabled: true
  annotations:
      cert-manager.io/cluster-issuer: "letsencrypt-cloudflare"
  hosts:
  - host: nodered.ugard.win
    paths:
    - path: /
      pathType: Prefix
  tls:
  - hosts:
    - nodered.ugard.win
    secretName: tls-nodered-ingress-http
    certificate:
      enabled: false
