apiVersion: apps/v1
kind: Deployment
metadata:
  name: immich-kiosk
spec:
  replicas: 1
  selector:
    matchLabels:
      app: immich-kiosk
  template:
    metadata:
      labels:
        app: immich-kiosk
    spec:
      containers:
      - name: immich-kiosk
        image: ghcr.io/damongolding/immich-kiosk:latest
        ports:
        - containerPort: 3000
        env:
        - name: LANG
          value: "pl_PL"
        - name: TZ
          value: "Europe/Warsaw"
        - name: KIOSK_IMMICH_API_KEY
          valueFrom:
            secretKeyRef:
              name: immich-credentials
              key: immich_api_key
        - name: KIOSK_IMMICH_URL
          valueFrom:
            secretKeyRef:
              name: immich-credentials
              key: immich_url
        - name: show_time
          value: "true"
        - name: KIOSK_SHOW_TIME
          value: "true"
        - name: KIOSK_SHOW_DATE
          value: "true"
        - name: KIOSK_MEMORIES
          value: "true"
        - name: KIOSK_SHOW_IMAGE_TIME
          value: "true"
        - name: KIOSK_SHOW_IMAGE_DATE
          value: "true"
---
apiVersion: v1
kind: Service
metadata:
  name: web
spec:
  selector:
    app: immich-kiosk
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
  type: ClusterIP
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: immich-kiosk
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-cloudflare"
spec:
  rules:
  - host: kiosk.ugard.win
    http:
      paths:
        - path: "/"
          pathType: Prefix
          backend:
            service:
              name: web
              port:
                number: 3000
  tls:
  - hosts:
    - kiosk.ugard.win
    secretName: tls-kiosk-ingress-http