apiVersion: v1
kind: ConfigMap
metadata:
  name: zigbee-converter-configmap
  namespace: hass
data:
  TS0601_TZE200_6rdj8dzm.js: |
    const fz = require('zigbee-herdsman-converters/converters/fromZigbee');
    const tz = require('zigbee-herdsman-converters/converters/toZigbee');
    const exposes = require('zigbee-herdsman-converters/lib/exposes');
    const legacy = require('zigbee-herdsman-converters/lib/legacy');
    const reporting = require('zigbee-herdsman-converters/lib/reporting');
    const extend = require('zigbee-herdsman-converters/lib/extend');
    const e = exposes.presets;
    const ea = exposes.access;
    const tuya = require('zigbee-herdsman-converters/lib/tuya');

    const definition = {
        fingerprint: [
            {
                modelID: 'TS0601',
                manufacturerName: '_TZE200_6rdj8dzm',
            },
        ],
        model: 'TS0601_TZE200_6rdj8dzm',
        vendor: 'Tuya',
        description: 'Thermostat',
        fromZigbee: [tuya.fz.datapoints],
        toZigbee: [tuya.tz.datapoints],
        onEvent: tuya.onEventSetTime,
        configure: tuya.configureMagicPacket,
        exposes: [
            e.child_lock(),
            e.battery(),
            exposes.climate()
                .withSetpoint('current_heating_setpoint', 5, 30, 0.5, ea.STATE_SET)
                .withLocalTemperature(ea.STATE)
                .withSystemMode(['off', 'auto', 'heat'], ea.STATE_SET)
                .withPreset(['manual', 'schedule', 'eco', 'comfort', 'antifrost', 'holiday'], ea.STATE_SET),
        ],
        meta: {
            tuyaDatapoints: [
                [1, 'system_mode', tuya.valueConverterBasic.lookup({'off': 0, 'auto': 1, 'heat': 2})],
                [2, 'current_heating_setpoint', tuya.valueConverter.divideBy10],
                [3, 'local_temperature', tuya.valueConverter.divideBy10],
                [4, 'preset', tuya.valueConverterBasic.lookup({'manual': 0, 'schedule': 1, 'eco': 2, 'comfort': 3, 'antifrost': 4, 'holiday': 5})],
                [7, 'child_lock', tuya.valueConverter.lockUnlock],
                [13, 'battery', tuya.valueConverter.raw],
            ],
        },
    };

    module.exports = definition;
