apiVersion: apps/v1
kind: Deployment
metadata:
  name: garage
spec:
  replicas: 1
  selector:
    matchLabels:
      app: garage
  template:
    metadata:
      labels:
        app: garage
    spec:
      containers:
      - name: garage
        image: dxflrs/garage:v2.0.0
        ports:
        - containerPort: 3900
        - containerPort: 3901
        - containerPort: 3902
        - containerPort: 3903
        volumeMounts:
        - name: garage-data
          mountPath: /var/lib/garage/data
        - name: garage-meta
          mountPath: /var/lib/garage/meta
        - name: garage-config
          mountPath: /etc/garage.toml
          subPath: garage.toml
      volumes:
      - name: garage-data
        persistentVolumeClaim:
          claimName: garage-data
      - name: garage-meta
        persistentVolumeClaim:
          claimName: garage-meta-zfs
      - name: garage-config
        secret:
          secretName: garage-config
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: garage-meta
  labels:
    "backup-this-pvc": "true"
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 10G
  storageClassName: rook-ceph-block
---
kind: PersistentVolumeClaim
apiVersion: v1
spec:
  storageClassName: openebs-zfspv
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1500Gi
metadata:
  name: garage-data
  labels:
    backup-strategy: zfs-local
---
kind: PersistentVolumeClaim
apiVersion: v1
spec:
  storageClassName: openebs-zfspv
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 20Gi
metadata:
  name: garage-meta-zfs
  labels:
    backup-strategy: zfs-local
---
apiVersion: v1
kind: Service
metadata:
  name: garage
spec:
  selector:
    app: garage
  ports:
    - protocol: TCP
      name: s3
      port: 3900
      targetPort: 3900
    - protocol: TCP
      name: rpc
      port: 3901
      targetPort: 3901
    - protocol: TCP
      port: 3902
      targetPort: 3902
      name: web
    - protocol: TCP
      port: 3903
      targetPort: 3903
      name: admin
  type: LoadBalancer
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: garage
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt"
spec:
  rules:
  - host: garage.ugard.mywire.org
    http:
      paths:
        - path: "/"
          pathType: Prefix
          backend:
            service:
              name: web
              port:
                number: 3900
  tls:
  - hosts:
    - garage.ugard.mywire.org
    secretName: tls-garage-ingress-http
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: garage
  namespace: garage
spec:
  endpoints:
  - port: admin
  selector:
    matchNames:
      app: garage