apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
spec:
  destination:
    namespace: monitoring
    server: {{ .Values.spec.destination.server }}
  project: default
  sources:
  - chart: kube-prometheus-stack
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 75.15.1
    helm:
      release-name: kube-prometheus-stack
      valuesObject:
        defaultRules:
          create: false
        grafana:
          enabled: true
          defaultDashboardsEnabled: false
          ingress:
            enabled: true

            ## IngressClassName for Grafana Ingress.
            ## Should be provided if Ingress is enable.
            ##
            ingressClassName: kustomize-traefik

            ## Annotations for Grafana Ingress
            ##
            annotations:
              cert-manager.io/cluster-issuer: letsencrypt
              # kubernetes.io/ingress.class: nginx
              # kubernetes.io/tls-acme: "true"

            ## Labels to be added to the Ingress
            ##
            labels: {}

            ## Hostnames.
            ## Must be provided if Ingress is enable.
            ##
            # hosts:
            #   - grafana.domain.com
            hosts:
              - prom.ugard.mywire.org

            ## Path for grafana ingress
            path: /

            ## TLS configuration for grafana Ingress
            ## Secret must be manually created in the namespace
            ##
            tls:
              - secretName: prom-general-tls
                hosts:
                - prom.ugard.mywire.org
              
            # # To make Grafana persistent (Using Statefulset)
            # #
            # persistence:
            #   enabled: true
            #   type: sts
            #   storageClassName: "rook-ceph-block"
            #   accessModes:
            #     - ReadWriteOnce
            #   size: 5Gi
            #   finalizers:
            #     - kubernetes.io/pvc-protection
        kubernetesServiceMonitors:
          enabled: false
        kubeApiServer:
          enabled: false
        kubelet:
          enabled: false
        kubeControllerManager:
          enabled: false
        coreDns:
          enabled: false
        kubeEtcd:
          enabled: false
        kubeScheduler:
          enabled: false
        kubeProxy:
          enabled: false
        kubeStateMetrics:
          enabled: false
        nodeExporter:
          enabled: false
         prometheusOperator:
           logLevel: debug
           namespaces:
             releaseNamespace: true
             additional:
             - kube-system
             - garage
             - rook-ceph2
             - velero
             - cert-manager2
         alertmanager:
           extraSecretMounts:
           - name: pagerduty-secret
             secretName: pagerduty-service-key
             mountPath: /etc/alertmanager/secrets
           config:
             global:
               resolve_timeout: 5m
             route:
               receiver: 'pagerduty'
               routes:
               - match:
                   severity: critical
                 receiver: 'pagerduty'
             receivers:
             - name: 'pagerduty'
               pagerduty_configs:
               - routing_key_file: /etc/alertmanager/secrets/service_key
         additionalPrometheusRules:
         - name: cert-manager-alerts
           groups:
           - name: cert-manager
             rules:
             - alert: CertificateNotReady
               expr: certmanager_certificate_ready_status{status="False"} and (time() - certmanager_certificate_created_timestamp_seconds) > 600
               for: 5m
               labels:
                 severity: critical
               annotations:
                 summary: |
                   Certificate {{ $labels.name }} in {{ $labels.namespace }} has been unready for more than 10 minutes
                 description: |
                   Certificate {{ $labels.name }} in {{ $labels.namespace }} is not ready since creation.
             - alert: CertificateExpiringSoon
               expr: certmanager_certificate_expiration_timestamp_seconds < time() + 604800
               for: 10m
               labels:
                 severity: warning
               annotations:
                 summary: "Certificate {{ $labels.name }} in {{ $labels.namespace }} expires within 7 days"
                 description: "Certificate {{ $labels.name }} in {{ $labels.namespace }} expires at {{ $value | humanizeTimestamp }}."
         alertmanager:
           config:
             global:
               resolve_timeout: 5m
             route:
               receiver: 'pagerduty'
               routes:
               - match:
                   severity: critical
                 receiver: 'pagerduty'
             receivers:
              - name: 'pagerduty'
                pagerduty_configs:
                - routing_key_file: /etc/alertmanager/secrets/service_key
         additionalPrometheusRules:
           - name: cert-manager-alerts
             groups:
             - name: cert-manager
               rules:
               - alert: CertificateNotReady
                 expr: certmanager_certificate_ready_status{status="False"} and (time() - certmanager_certificate_created_timestamp_seconds) > 600
                 for: 5m
                 labels:
                   severity: critical
                 annotations:
                   summary: "Certificate {{ $labels.name }} in {{ $labels.namespace }} has been unready for more than 10 minutes"
                   description: "Certificate {{ $labels.name }} in {{ $labels.namespace }} is not ready since creation."
               - alert: CertificateExpiringSoon
                 expr: certmanager_certificate_expiration_timestamp_seconds < time() + 604800
                 for: 10m
                 labels:
                   severity: warning
                 annotations:
                   summary: "Certificate {{ $labels.name }} in {{ $labels.namespace }} expires within 7 days"
                   description: "Certificate {{ $labels.name }} in {{ $labels.namespace }} expires at {{ $value | humanizeTimestamp }}."
         prometheus:
           prometheusSpec:
             serviceMonitorSelectorNilUsesHelmValues: false
             logLevel: debug
             storageSpec:
               volumeClaimTemplate:
                 spec:
                   storageClassName: rook-ceph-block
                   accessModes: ["ReadWriteOnce"]
                   resources:
                     requests:
                       storage: 10Gi
                  